/* reset css */

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

/* boxes and containers */
.boxed {
    margin: 0 auto;
    width: 60%;
}

.boxed80 {
    margin: 0 auto;
    width: 80%;
}

.fitContent {
    width: fit-content;
    margin: 0 auto;
}

.total_width {
    width: 100%;
}


/* colors */

.default {
    color: var(--default);
}

.default_inverse {
    color: var(--defaultInverse);
}

.primary {
    color: var(--primary);
}

.secondary {
    color: var(--secondary);
}

.terciary {
    color: var(--terciary);
}

.default_bg {
    background-color: var(--default);
}

.primary_bg {
    background-color: var(--primary);
}


.secondary_bg {
    background-color: var(--secondary);
}

.terciary_bg {
    background-color: var(--terciary);
}

.second_bg {
    background-color: var(--secondaryBg);
}

.white_bg {
    background-color: white;
}

/* position */

.right {
    float: right;
}

.left {
    float: left;
}

.margin-auto {
    margin: 0 auto;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.absolute_center {
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
}

.absolute_center_y {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
}


/* display */

.inline-block {
    display: inline-block;
}

.flex_row_btw {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.d_none {
    display: none;
}

.d_block {
    display: block;
}

/* typography */

.font-xl {
    font-size: 32px;
    line-height: 36px;
}

.font-lg {
    font-size: 28px;
    line-height: 32px;
}

.font-md {
    font-size: 24px;
    line-height: 28px;
}

.font-sm {
    font-size: 18px;
    line-height: 22px;
}

.font-xs {
    font-size: 14px;
    line-height: 18px;
}

.font-xxs {
    font-size: 12px;
    line-height: 15px;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.letter_spac8 {
    letter-spacing: 8px;
}

.uppercase {
    text-transform: uppercase;
}

/* alingment */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.self_center {
    align-self: center;
}

/* spacing */

.padding8 {
    padding: 8px;
}

.padding16 {
    padding: 16px;
}

.padding40 {
    padding: 40px;
}

.bottom8 {
    margin-bottom: 8px;
}

.bottom16 {
    margin-bottom: 16px;
}

.bottom24 {
    margin-bottom: 24px;
}

.bottom32 {
    margin-bottom: 32px;
}

.bottom40 {
    margin-bottom: 40px;
}

.bottom64 {
    margin-bottom: 64px;
}

.top8 {
    margin-top: 8px;
}

.top16 {
    margin-top: 16px;
}

.top24 {
    margin-top: 24px;
}

.top32 {
    margin-top: 32px;
}

.top40{
    margin-top: 40px;
}

.margin16 {
    margin: 16px
}


/* border */
.border-none {
    border: none;
}

.radius8 {
    border-radius: 8px;
} 
.radius16 {
    border-radius: 16px;
}

.radius32 {
    border-radius: 32px;
}


/* media queries */

@media only screen and (min-width: 992px) {

    .portfolio {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }

    .portfolio_card {
        max-width: 332px;
        height: 100%;
    }
    
    .portfolio_card_img {
        height: 200px;
    }
    
    .portfolio_card_img img:hover {
        position: absolute;
        width: 332px;
        margin-left: -16px;
        margin-top: -16px;
        cursor: pointer;
    }
    
    .portfolio_card_text {
        height: calc(100% - 252px);
    }
    
    .portfolio_card_footer {
        height: 24px;
    }

    .portfolio_mobile {
        display: none
    }

}

@media screen and (max-width: 991px) {

    .portfolio {
        display: none;
    }

    .portfolio_card_img {
        height: 337px;
    }

    .portfolio_card_text {
        height: calc(100% - 396px);
    }
    
    .portfolio_card_footer {
        height: 24px;
    }

    .boxed {
        width: 100%;
    }

    .font-xl {
        font-size: 46px;
        line-height: 50px;
    }

    .font-lg {
        font-size: 38px;
        line-height: 42px;
    }

    .font-md {
        font-size: 28px;
        line-height: 32px;
    }

    .font-sm {
        font-size: 24px;
        line-height: 32px;
    }

    .font-xs, .font-xxs {
        font-size: 20px;
        line-height: 24px;
    }

    .portfolio_card_img img {
        width: 100%;
    }

    
}

@media screen and (max-width: 1200px) {

    .boxed {
        width: 70%;
    }

}

/* specific styles */

.navbar {
    background-color: var(--navColor);
    color: white;
}

.logo {
    font-family: Squada One,"sans-serif";
    font-size: 40px;
}

.about {
    min-height: 300px;
    transition: 1s;
}

.about:hover {
    background-color: var(--secondary);
}

.about:hover h4 {
    display: none;
}

.about:hover p {
    display: block;
}
.portfolio_card {
    height: 100%;
}

.stacks img {
    width: 80px;
}

.stacks .item:focus {
    outline: none;
}

.stacks_container .btn:focus {
    box-shadow: none;
}


/* loader */

body {
    position: relative;
    height: 100vh;
}

#loader {
    position: absolute;
    top: 50%; right: 50%;
    color: var(--secondary)
}