/* http://paletton.com/#uid=33k0s0kkOp0aRCCgftHo-l7tzg5 */


:root[data-theme='dark'] {  
    --primaryBg: #fff;
    --secondaryBg: #f5f5f5;
    --navColor: #2B7279;
    --default: #232323;
    --defaultInverse: #fff;
    --primary: #2B7279;
    --secondary: #d0692d;
    --terciary: #C75246;
  }
  
  :root {
    --primaryBg: #232323;
    --secondaryBg: #333;
    --navColor: #333;
    --default: #fff;
    --defaultInverse: #232323;
    --primary: #77AEB3;
    --secondary: #EDC575;
    --terciary: #ED8075;
  }